/* App Css */
html {overflow-x: hidden;}



/* Top Css*/

.top-container{
    width:100%;
    height:55px;
    position:relative;
}
.primary-menu{
    position: absolute;
    right:60px;
    display:inline-block;
    white-space: nowrap;
}
.primary-menu ul li{
  
    display:inline;
    list-style-type: none;
    margin-left:30px;
}
    .primary-menu a{
        text-decoration:none;
        font-family: 'Josefin Sans', sans-serif;
        font-size:25px;
        font-style:bold;
        position:relative;
       
    }
    
    .primary-menu a:visited{
        color:rgb(26, 24, 24);
        text-decoration: none;
    }

    .primary-menu a:hover{
        color:rgb(144,144,144); 
        text-decoration: none;
    }


    .primary-menu a:before{
        content:"";
        position:absolute;
        width:100%;
        height:4px;
        left:0;
        bottom:-2px;
        background-color:rgb(144,144,144);      
        visibility:hidden;
        -webkit-transform: scaleX(0);
        transform:scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition:all 0.3s ease-in-out 0s;
    }
    .primary-menu ul li.active a:before,
    .primary-menu ul li a:hover:before{
        visibility:visible;
        -webkit-transform: scaleX(1);
        transform:scaleX(1);
    }

    #cart-count{
        font-family: 'Josefin Sans', sans-serif;
        font-size:25px;
        font-style:bold;
    }

/* Home Css*/

.home-container{
    position:relative;
    margin-right:-8px;
    width: 100%; 
    height: 95vh;
    overflow: hidden;
    
    
}


    .home-container .index{
        position: absolute;
        left: 300px;
        bottom: 5px;
        width: 200px;
        height: 20px;
        list-style: none;
    }
 
    /*bikerental css*/

    .rental-container{
        width:100%;
        height:70vh;
      
        
    }
        .rental-container h1{
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            color:rgb(26, 24, 24);
        }
        .bikes-list,.accessory-list{
            padding: 0;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
        .rental-container input{
            margin-top:10px;
            cursor: pointer;
            font-size:0;
        }

        .rental-container input:focus{
            outline:none;
        }
    
    .modal-container{
        display:none;
        position:fixed;
        z-index:1;
        padding-top:15%;
        left:0;
        top:0;
        width:100%;
        height:100%;
        overflow:auto;
        background-color:rgba(153,153,153,0.5);
        text-align: center;
    }
  

    
        .info-popup{
            background-color:white;
            margin:auto;
            padding:15px;
            border:1px solid white;
            display:inline-block;
            white-space: pre-wrap;
        }
        #popup-close{
            color:rgb(144,144,144); 
            float:right;
            font-size:40px;
            font-weight:bold;
            cursor:pointer;
            position:relative;
            top:-20px;
            
        }
    .product-1-info,.product-2-info,
    .product-3-info,.product-4-info,
    .product-5-info{
        text-align:center;
        display:inline-block;
    }
    .day-selection,.quantity-selection,.modal input{
        display:block;
        margin:auto;
        margin-bottom:10px;
    }
    

    .cart-popup{
        margin:auto;
        padding:15px;
        background-color:white;
    }

    
       
   

        
    

 
    

 